# En este ejercicio vamos a trabajar con un Dataframe.

Un **DataFrame** en python es un objeto como una tabla de excel, que consta de filas y columnas, .

 - En ML cada **columna** es una **label o feature**, 
 - y cada **fila** un **elemento de una clase**.
 
<br>
 
<div class="alert alert-block alert-info">
Los dataframe se puede cargar desde ficheros csv, xls ,xlsx, json o una table .html entre otros.
</div>

In [5]:
! # Instalamos el paquete desde el interprete de comandos, porque no se encuentra en el container
! pip install lxml pandas_ml 1>/dev/null

You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [6]:


import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import html5lib
from sklearn.cross_validation import train_test_split #to split the dataset for training and testing
from sklearn                  import svm ,  metrics
from sklearn.metrics        import mean_squared_error

df = pd.read_html("http://www.mundodeportivo.com/resultados/futbol/laliga/clasificacion.html")[0]

#########################################
### Cargamos el DataFrame, desde un csv.
#########################################
#df = pd.read_csv("datasets/equipos.csv")




df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0         Barcelona  37  27   9   1  98  29   69   90
1   Atlético Madrid  37  23   9   5  56  20   36   78
2       Real Madrid  37  22   9   6  92  42   50   75
3          Valencia  37  21   7   9  63  37   26   70
4        Villarreal  37  18   6  13  55  48    7   60
5             Betis  37  18   6  13  58  58    0   60
6           Sevilla  37  16   7  14  48  58  -10   55
7            Getafe  37  14  10  13  41  33    8   52
8             Eibar  37  14   8  15  42  48   -6   50
9     Real Sociedad  37  14   7  16  66  58    8   49
10           Girona  37  13   9  15  48  58  -10   48
11           Alavés  37  15   2  20  40  49   -9   47
12            Celta  37  12  10  15  55  58   -3   46
13         Espanyol  37  11  13  13  35  42   -7   46
14          Levante  37  11  13  13  42  54  -12   46
15         Athletic  37  10  13  14  41  48   -7   43
16          Leganés  37  11   7  19  31  49  -18   40
17        Deportivo  37   6  11  20  37  74  -37   29
18       Las Palmas  37   5   7  25  23  72  -49   22
19           Málaga  37   5   5  27  24  60  -36   20

In [7]:
# Guardar a fichero
df.to_csv("datasets/equipos.csv", encoding='utf-8', index=False)

In [8]:
# Se puede pasar comandos a la shell, si anteponemos el caracter "!"
! pwd
! ls -altr 
! head -3 equipos.csv

/Users/jaimevalero/git/python-machine-learning-book-2nd-edition/ejercicios
total 36680
-rw-r--r--   1 jaimevalero  staff     25749 27 abr 16:58 Untitled.ipynb
-rw-r--r--   1 jaimevalero  staff     94208 27 abr 16:58 jupyterhub.sqlite
-rw-r--r--   1 jaimevalero  staff        65 27 abr 16:58 jupyterhub_cookie_secret
-rw-r--r--   1 jaimevalero  staff       835 27 abr 21:21 tpot_iris_pipeline.py
-rw-r--r--   1 jaimevalero  staff     22232  1 may 15:32 auto labelling.ipynb
-rw-r--r--   1 jaimevalero  staff         0  3 may 10:36 tree1-graphviz.png
-rw-r--r--   1 jaimevalero  staff     12257  3 may 13:05 Untitled1.ipynb
-rw-r--r--   1 jaimevalero  staff    169022  4 may 13:34 Untitled2.ipynb
-rw-r--r--   1 jaimevalero  staff         0 11 may 17:08 tree.png
-rw-r--r--   1 jaimevalero  staff     58221 13 may 21:15 Ejercicio 01 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff     59535 13 may 21:15 Ejercicio 02 - Primer modelo.ipynb
-rw-r--r--   1 jaimevalero  staff     18447 13 may 21:15 Ejercicio 02 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff   1903354 13 may 21:15 Ejercicio 03 - Feature importances.ipynb
-rw-r--r--   1 jaimevalero  staff    106176 13 may 21:15 Ejercicio 04 - Decission trees.ipynb
-rw-r--r--   1 jaimevalero  staff   1747201 13 may 21:15 Ejercicio 06 - Comparativa de clasificadores.ipynb
-rw-r--r--   1 jaimevalero  staff    130544 13 may 21:15 Ejercicio 07 - Best Practices - Grid Search.ipynb
-rw-r--r--   1 jaimevalero  staff      5653 13 may 21:15 Ejercicio 08 - Best Practices - Auto select.ipynb
-rw-r--r--   1 jaimevalero  staff    145403 13 may 21:15 Ejercicio 09 - Best Practices - Ensembling y Cross Validation.ipynb
-rw-r--r--   1 jaimevalero  staff     71779 13 may 21:15 Ejercicio 11 - Aprendizaje no supervisado - Clusterizacion.ipynb
-rw-r--r--   1 jaimevalero  staff     91651 13 may 21:15 Ejercicio 12 - Aprendizaje no supervisado - Basket Case Analisys.ipynb
-rw-r--r--   1 jaimevalero  staff    297233 13 may 21:15 Ejercicio 13 - Aprendizaje no supervisado - Fraud detection.ipynb
-rw-r--r--   1 jaimevalero  staff    531069 13 may 21:15 Ejercicio 14 - Aprendizaje no supervisado - Series temporales.ipynb
-rw-r--r--   1 jaimevalero  staff     29207 13 may 21:15 Ejercicio 15 - Deep Learning.ipynb
drwxr-xr-x  18 jaimevalero  staff       576 13 may 21:15 datasets
drwxr-xr-x  21 jaimevalero  staff       672 13 may 21:15 images
drwxr-xr-x  18 jaimevalero  staff       576 13 may 21:15 ..
-rw-r--r--   1 jaimevalero  staff    297233 14 may 16:56 Ejercicio 05 - Dealing with missing data.ipynb
-rw-r--r--   1 jaimevalero  staff    175056 14 may 18:26 Ejercicio 10 - Natural language vectorization.ipynb
-rw-r--r--   1 jaimevalero  staff  12710543 14 may 19:08 Ejercicio 00 - Introducción.ipynb
-rw-r--r--   1 jaimevalero  staff     12547 14 may 19:34 Ejercicio 01 - Manejo DataFrame-Copy1.ipynb
drwxr-xr-x  27 jaimevalero  staff       864 14 may 19:34 .ipynb_checkpoints
-rw-r--r--   1 jaimevalero  staff     11883 14 may 19:36 Ejercicio 01 - Manejo DataFrame.ipynb
drwxr-xr-x  33 jaimevalero  staff      1056 14 may 19:36 .
head: equipos.csv: No such file or directory

In [9]:
#Coger las columnas
df.columns

Index(['Equipo', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'DIF', 'PTS'], dtype='object')

In [10]:
# Coger los dos primeros campos
df.head(2)

            Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0        Barcelona  37  27   9   1  98  29   69   90
1  Atlético Madrid  37  23   9   5  56  20   36   78

In [11]:
# Coger una columna
df.Equipo.tail(5)

15      Athletic
16       Leganés
17     Deportivo
18    Las Palmas
19        Málaga
Name: Equipo, dtype: object

In [12]:
# Crear una columna
df["Posicion"] = range(1,21)
df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion
0         Barcelona  37  27   9   1  98  29   69   90         1
1   Atlético Madrid  37  23   9   5  56  20   36   78         2
2       Real Madrid  37  22   9   6  92  42   50   75         3
3          Valencia  37  21   7   9  63  37   26   70         4
4        Villarreal  37  18   6  13  55  48    7   60         5
5             Betis  37  18   6  13  58  58    0   60         6
6           Sevilla  37  16   7  14  48  58  -10   55         7
7            Getafe  37  14  10  13  41  33    8   52         8
8             Eibar  37  14   8  15  42  48   -6   50         9
9     Real Sociedad  37  14   7  16  66  58    8   49        10
10           Girona  37  13   9  15  48  58  -10   48        11
11           Alavés  37  15   2  20  40  49   -9   47        12
12            Celta  37  12  10  15  55  58   -3   46        13
13         Espanyol  37  11  13  13  35  42   -7   46        14
14          Levante  37  11  13  13  42  54  -12   46        15
15         Athletic  37  10  13  14  41  48   -7   43        16
16          Leganés  37  11   7  19  31  49  -18   40        17
17        Deportivo  37   6  11  20  37  74  -37   29        18
18       Las Palmas  37   5   7  25  23  72  -49   22        19
19           Málaga  37   5   5  27  24  60  -36   20        20

In [13]:
# Coger rango de celdas por su posicion
df.iloc[0:5,0:3]

            Equipo  PJ  PG
0        Barcelona  37  27
1  Atlético Madrid  37  23
2      Real Madrid  37  22
3         Valencia  37  21
4       Villarreal  37  18

In [14]:
# Seleccionar filas según condiciones
# Coger solo aquellos equipos con mas goles a favor que en contra
df.loc[df['GF'] > df['GC']]

            Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion
0        Barcelona  37  27   9   1  98  29   69   90         1
1  Atlético Madrid  37  23   9   5  56  20   36   78         2
2      Real Madrid  37  22   9   6  92  42   50   75         3
3         Valencia  37  21   7   9  63  37   26   70         4
4       Villarreal  37  18   6  13  55  48    7   60         5
7           Getafe  37  14  10  13  41  33    8   52         8
9    Real Sociedad  37  14   7  16  66  58    8   49        10

In [15]:
# Primera fila
df.iloc[0]

Equipo      Barcelona
PJ                 37
PG                 27
PE                  9
PP                  1
GF                 98
GC                 29
DIF                69
PTS                90
Posicion            1
Name: 0, dtype: object

In [16]:
# Volcar elemento a dicccionario 
dict = df.iloc[0].to_dict()
print(dict)

{'Equipo': 'Barcelona', 'PJ': 37, 'PG': 27, 'PE': 9, 'PP': 1, 'GF': 98, 'GC': 29, 'DIF': 69, 'PTS': 90, 'Posicion': 1}

In [17]:
# Creamos un nuevo elemento, tambien vía diccionario
# Primero creamos un diccionario
nuevo_equipo = {'Equipo': 'Broncos de Denver',
                'PJ': 1,
                'PG': 0, 
                'PE': 0,
                'PP': 1,
                'GF': 7, 
                'GC': 1, 
                'DIF': 6,
                'PTS': 3
               }


# Creamos un dataframe del dccionario
df_new_team = pd.DataFrame(nuevo_equipo, index=['21',])


df_new_team

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS
21    6  Broncos de Denver   1   7   0   0   1   1    3

In [18]:
# Concatenamos el nuevo diccionario
pd.concat([df, df_new_team], ignore_index=True)

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS  Posicion
0    69          Barcelona  29  98   9  27  37   1   90       1.0
1    36    Atlético Madrid  20  56   9  23  37   5   78       2.0
2    50        Real Madrid  42  92   9  22  37   6   75       3.0
3    26           Valencia  37  63   7  21  37   9   70       4.0
4     7         Villarreal  48  55   6  18  37  13   60       5.0
5     0              Betis  58  58   6  18  37  13   60       6.0
6   -10            Sevilla  58  48   7  16  37  14   55       7.0
7     8             Getafe  33  41  10  14  37  13   52       8.0
8    -6              Eibar  48  42   8  14  37  15   50       9.0
9     8      Real Sociedad  58  66   7  14  37  16   49      10.0
10  -10             Girona  58  48   9  13  37  15   48      11.0
11   -9             Alavés  49  40   2  15  37  20   47      12.0
12   -3              Celta  58  55  10  12  37  15   46      13.0
13   -7           Espanyol  42  35  13  11  37  13   46      14.0
14  -12            Levante  54  42  13  11  37  13   46      15.0
15   -7           Athletic  48  41  13  10  37  14   43      16.0
16  -18            Leganés  49  31   7  11  37  19   40      17.0
17  -37          Deportivo  74  37  11   6  37  20   29      18.0
18  -49         Las Palmas  72  23   7   5  37  25   22      19.0
19  -36             Málaga  60  24   5   5  37  27   20      20.0
20    6  Broncos de Denver   1   7   0   0   1   1    3       NaN

### Ejercicio.
 
 - Añadir una columna resultado, que tenga los valores
 
 "Champions League" , para los 4 primeros
 "Europa League"    , Para los 2 siguientes
 "Descenso"         , para los 4 últimos
 "Zona fría"        , para los demas.

In [20]:
df["resultado"] = "Zona fría"
df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion  resultado
0         Barcelona  37  27   9   1  98  29   69   90         1  Zona fría
1   Atlético Madrid  37  23   9   5  56  20   36   78         2  Zona fría
2       Real Madrid  37  22   9   6  92  42   50   75         3  Zona fría
3          Valencia  37  21   7   9  63  37   26   70         4  Zona fría
4        Villarreal  37  18   6  13  55  48    7   60         5  Zona fría
5             Betis  37  18   6  13  58  58    0   60         6  Zona fría
6           Sevilla  37  16   7  14  48  58  -10   55         7  Zona fría
7            Getafe  37  14  10  13  41  33    8   52         8  Zona fría
8             Eibar  37  14   8  15  42  48   -6   50         9  Zona fría
9     Real Sociedad  37  14   7  16  66  58    8   49        10  Zona fría
10           Girona  37  13   9  15  48  58  -10   48        11  Zona fría
11           Alavés  37  15   2  20  40  49   -9   47        12  Zona fría
12            Celta  37  12  10  15  55  58   -3   46        13  Zona fría
13         Espanyol  37  11  13  13  35  42   -7   46        14  Zona fría
14          Levante  37  11  13  13  42  54  -12   46        15  Zona fría
15         Athletic  37  10  13  14  41  48   -7   43        16  Zona fría
16          Leganés  37  11   7  19  31  49  -18   40        17  Zona fría
17        Deportivo  37   6  11  20  37  74  -37   29        18  Zona fría
18       Las Palmas  37   5   7  25  23  72  -49   22        19  Zona fría
19           Málaga  37   5   5  27  24  60  -36   20        20  Zona fría

In [ ]:
df.resultado[df['posicio'] > df['GC']]