# En este ejercicio vamos a trabajar con un Dataframe.

 <div class="alert alert-block alert-info">
</div>

In [1]:
! # Instalamos el paquete desde el interprete de comandos, porque no se encuentra en el container
! pip install lxml

Requirement already satisfied: lxml in /Users/jaimevalero/miniconda3/envs/flask/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:


import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import html5lib
from sklearn.cross_validation import train_test_split #to split the dataset for training and testing
from sklearn                  import svm ,  metrics
from sklearn.metrics        import mean_squared_error

#df = pd.read_html("http://www.mundodeportivo.com/resultados/futbol/laliga/clasificacion.html")[0]

df = pd.read_csv("datasets/equipos.csv")

df

/Users/jaimevalero/miniconda3/envs/flask/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0         Barcelona  37  27   9   1  98  29   69   90
1   Atlético Madrid  37  23   9   5  56  20   36   78
2       Real Madrid  37  22   9   6  92  42   50   75
3          Valencia  37  21   7   9  63  37   26   70
4        Villarreal  37  18   6  13  55  48    7   60
5             Betis  37  18   6  13  58  58    0   60
6           Sevilla  37  16   7  14  48  58  -10   55
7            Getafe  37  14  10  13  41  33    8   52
8             Eibar  37  14   8  15  42  48   -6   50
9     Real Sociedad  37  14   7  16  66  58    8   49
10           Girona  37  13   9  15  48  58  -10   48
11           Alavés  37  15   2  20  40  49   -9   47
12            Celta  37  12  10  15  55  58   -3   46
13         Espanyol  37  11  13  13  35  42   -7   46
14          Levante  37  11  13  13  42  54  -12   46
15         Athletic  37  10  13  14  41  48   -7   43
16          Leganés  37  11   7  19  31  49  -18   40
17        Deportivo  37   6  11  20  37  74  -37   29
18       Las Palmas  37   5   7  25  23  72  -49   22
19           Málaga  37   5   5  27  24  60  -36   20

In [3]:
# Guardar a fichero
df.to_csv("datasets/equipos.csv", encoding='utf-8', index=False)

In [4]:
! pwd
! ls -altr 
! head -3 equipos.csv

/Users/jaimevalero/git/python-machine-learning-book-2nd-edition/ejercicios
total 39472
drwxr-xr-x  18 jaimevalero  staff       576  8 sep 12:13 ..
drwxr-xr-x  16 jaimevalero  staff       512  8 sep 12:14 datasets
-rw-r--r--   1 jaimevalero  staff  12710543  8 sep 12:16 Ejercicio 00 - Introducción.ipynb
-rw-r--r--   1 jaimevalero  staff     56891  8 sep 12:16 Ejercicio 02 - Primer modelo.ipynb
-rw-r--r--   1 jaimevalero  staff     18447  8 sep 12:16 Ejercicio 02 - Soluciones.ipynb
-rw-r--r--   1 jaimevalero  staff   1868554  8 sep 12:16 Ejercicio 03 - Feature importances.ipynb
-rw-r--r--   1 jaimevalero  staff    106176  8 sep 12:16 Ejercicio 04 - Decission trees.ipynb
-rw-r--r--   1 jaimevalero  staff    297295  8 sep 12:16 Ejercicio 05 - Dealing with missing data.ipynb
-rw-r--r--   1 jaimevalero  staff   1741718  8 sep 12:16 Ejercicio 06 - Comparativa de clasificadores.ipynb
-rw-r--r--   1 jaimevalero  staff    130544  8 sep 12:16 Ejercicio 07 - Best Practices - Grid Search.ipynb
-rw-r--r--   1 jaimevalero  staff      5653  8 sep 12:16 Ejercicio 08 - Best Practices - Auto select.ipynb
-rw-r--r--   1 jaimevalero  staff    145754  8 sep 12:16 Ejercicio 09 - Best Practices - Ensembling y Cross Validation.ipynb
-rw-r--r--   1 jaimevalero  staff    259825  8 sep 12:16 Ejercicio 10 - Natural language vectorization.ipynb
-rw-r--r--   1 jaimevalero  staff    337195  8 sep 12:16 Ejercicio 10b - Natural language vectorization - Deep Learning.ipynb
-rw-r--r--   1 jaimevalero  staff     61885  8 sep 12:16 Ejercicio 11 - Aprendizaje no supervisado - Clusterizacion.ipynb
-rw-r--r--   1 jaimevalero  staff     91648  8 sep 12:16 Ejercicio 12 - Aprendizaje no supervisado - Basket Case Analisys.ipynb
-rw-r--r--   1 jaimevalero  staff    297233  8 sep 12:16 Ejercicio 13 - Aprendizaje no supervisado - Fraud detection.ipynb
-rw-r--r--   1 jaimevalero  staff    671143  8 sep 12:16 Ejercicio 14 - Aprendizaje no supervisado - Series temporales.ipynb
-rw-r--r--   1 jaimevalero  staff     29207  8 sep 12:16 Ejercicio 15 - Deep Learning.ipynb
-rw-r--r--   1 jaimevalero  staff     10421  8 sep 12:16 Ejercicio 16 Computer vision.ipynb
-rw-r--r--   1 jaimevalero  staff      4078  8 sep 12:16 Sentiment Analisys.ipynb
-rw-r--r--   1 jaimevalero  staff     25749  8 sep 12:16 Untitled.ipynb
-rw-r--r--   1 jaimevalero  staff     12257  8 sep 12:16 Untitled1.ipynb
-rw-r--r--   1 jaimevalero  staff    169022  8 sep 12:16 Untitled2.ipynb
-rw-r--r--   1 jaimevalero  staff     22232  8 sep 12:16 auto labelling.ipynb
drwxr-xr-x  29 jaimevalero  staff       928  8 sep 12:19 images
-rw-r--r--   1 jaimevalero  staff     20762  8 sep 12:26 Ejercicio 16 Computer vision-Copy1.ipynb
-rw-r--r--   1 jaimevalero  staff      9830  8 sep 12:26 Ejercicio 07b - Best Practices - Grid Search.ipynb
-rw-r--r--   1 jaimevalero  staff     71878  8 sep 12:34 Ejercicio 01 - Manejo DataFrame.ipynb
-rw-r--r--   1 jaimevalero  staff     59556  8 sep 12:34 Ejercicio 01 - Soluciones.ipynb
drwxr-xr-x  32 jaimevalero  staff      1024  8 sep 12:34 .
drwxr-xr-x   6 jaimevalero  staff       192  8 sep 12:34 .ipynb_checkpoints
head: equipos.csv: No such file or directory

In [5]:
#Coger las columnas
df.columns

Index(['Equipo', 'PJ', 'PG', 'PE', 'PP', 'GF', 'GC', 'DIF', 'PTS'], dtype='object')

In [6]:
# Coger los dos primeros campos
df.head(2)

            Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS
0        Barcelona  37  27   9   1  98  29   69   90
1  Atlético Madrid  37  23   9   5  56  20   36   78

In [7]:
# Coger una columna
df.Equipo.tail(5)

15      Athletic
16       Leganés
17     Deportivo
18    Las Palmas
19        Málaga
Name: Equipo, dtype: object

In [8]:
# Crear una columna
df["Posicion"] = range(1,21)
df

             Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion
0         Barcelona  37  27   9   1  98  29   69   90         1
1   Atlético Madrid  37  23   9   5  56  20   36   78         2
2       Real Madrid  37  22   9   6  92  42   50   75         3
3          Valencia  37  21   7   9  63  37   26   70         4
4        Villarreal  37  18   6  13  55  48    7   60         5
5             Betis  37  18   6  13  58  58    0   60         6
6           Sevilla  37  16   7  14  48  58  -10   55         7
7            Getafe  37  14  10  13  41  33    8   52         8
8             Eibar  37  14   8  15  42  48   -6   50         9
9     Real Sociedad  37  14   7  16  66  58    8   49        10
10           Girona  37  13   9  15  48  58  -10   48        11
11           Alavés  37  15   2  20  40  49   -9   47        12
12            Celta  37  12  10  15  55  58   -3   46        13
13         Espanyol  37  11  13  13  35  42   -7   46        14
14          Levante  37  11  13  13  42  54  -12   46        15
15         Athletic  37  10  13  14  41  48   -7   43        16
16          Leganés  37  11   7  19  31  49  -18   40        17
17        Deportivo  37   6  11  20  37  74  -37   29        18
18       Las Palmas  37   5   7  25  23  72  -49   22        19
19           Málaga  37   5   5  27  24  60  -36   20        20

In [9]:
# Coger rango de celdas por su posicion
df.iloc[0:5,0:3]

            Equipo  PJ  PG
0        Barcelona  37  27
1  Atlético Madrid  37  23
2      Real Madrid  37  22
3         Valencia  37  21
4       Villarreal  37  18

In [10]:
# Seleccionar filas según condiciones
# Coger solo aquellos equipos con mas goles a favor que en contra
df.loc[df['GF'] > df['GC']]

            Equipo  PJ  PG  PE  PP  GF  GC  DIF  PTS  Posicion
0        Barcelona  37  27   9   1  98  29   69   90         1
1  Atlético Madrid  37  23   9   5  56  20   36   78         2
2      Real Madrid  37  22   9   6  92  42   50   75         3
3         Valencia  37  21   7   9  63  37   26   70         4
4       Villarreal  37  18   6  13  55  48    7   60         5
7           Getafe  37  14  10  13  41  33    8   52         8
9    Real Sociedad  37  14   7  16  66  58    8   49        10

In [11]:
# Primera fila
df.iloc[0]

Equipo      Barcelona
PJ                 37
PG                 27
PE                  9
PP                  1
GF                 98
GC                 29
DIF                69
PTS                90
Posicion            1
Name: 0, dtype: object

In [12]:
# Volcar elemento a dicccionario 
dict = df.iloc[0].to_dict()
print(dict)

{'Equipo': 'Barcelona', 'PJ': 37, 'PG': 27, 'PE': 9, 'PP': 1, 'GF': 98, 'GC': 29, 'DIF': 69, 'PTS': 90, 'Posicion': 1}

In [13]:
# Creamos un nuevo elemento, tambien vía diccionario
# Primero creamos un diccionario
nuevo_equipo = {'Equipo': 'Broncos de Denver',
                'PJ': 1,
                'PG': 0, 
                'PE': 0,
                'PP': 1,
                'GF': 7, 
                'GC': 1, 
                'DIF': 6,
                'PTS': 3
               }


# Creamos un dataframe del dccionario
df_new_team = pd.DataFrame(nuevo_equipo, index=['21',])


df_new_team

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS
21    6  Broncos de Denver   1   7   0   0   1   1    3

In [14]:
# Concatenamos el nuevo diccionario
pd.concat([df, df_new_team], ignore_index=True)

    DIF             Equipo  GC  GF  PE  PG  PJ  PP  PTS  Posicion
0    69          Barcelona  29  98   9  27  37   1   90       1.0
1    36    Atlético Madrid  20  56   9  23  37   5   78       2.0
2    50        Real Madrid  42  92   9  22  37   6   75       3.0
3    26           Valencia  37  63   7  21  37   9   70       4.0
4     7         Villarreal  48  55   6  18  37  13   60       5.0
5     0              Betis  58  58   6  18  37  13   60       6.0
6   -10            Sevilla  58  48   7  16  37  14   55       7.0
7     8             Getafe  33  41  10  14  37  13   52       8.0
8    -6              Eibar  48  42   8  14  37  15   50       9.0
9     8      Real Sociedad  58  66   7  14  37  16   49      10.0
10  -10             Girona  58  48   9  13  37  15   48      11.0
11   -9             Alavés  49  40   2  15  37  20   47      12.0
12   -3              Celta  58  55  10  12  37  15   46      13.0
13   -7           Espanyol  42  35  13  11  37  13   46      14.0
14  -12            Levante  54  42  13  11  37  13   46      15.0
15   -7           Athletic  48  41  13  10  37  14   43      16.0
16  -18            Leganés  49  31   7  11  37  19   40      17.0
17  -37          Deportivo  74  37  11   6  37  20   29      18.0
18  -49         Las Palmas  72  23   7   5  37  25   22      19.0
19  -36             Málaga  60  24   5   5  37  27   20      20.0
20    6  Broncos de Denver   1   7   0   0   1   1    3       NaN

### Ejercicio.
 
 - Añadir una columna resultado, que tenga los valores
 
 "Champions League" , para los 4 primeros
 "Europa League"    , Para los 2 siguientes
 "Descenso"         , para los 4 últimos
 "Zona fría"        , para los demas.

In [15]:

df["Resultado"]   =  "Zona fria"

df["Resultado"].iloc[4:6]     = "Europa League"
df["Resultado"].iloc[0:4]     = "Champions League"
df["Resultado"].iloc[16:20]   = "Descenso"
df["Resultado"].iloc[6:16]    = "Zona fria"

df

,Equipo,PJ,PG,PE,PP,GF,GC,DIF,PTS,Posicion,Resultado
0,Barcelona,37,27,9,1,98,29,69,90,1,Champions League
1,Atlético Madrid,37,23,9,5,56,20,36,78,2,Champions League
2,Real Madrid,37,22,9,6,92,42,50,75,3,Champions League
3,Valencia,37,21,7,9,63,37,26,70,4,Champions League
4,Villarreal,37,18,6,13,55,48,7,60,5,Europa League
5,Betis,37,18,6,13,58,58,0,60,6,Europa League
6,Sevilla,37,16,7,14,48,58,-10,55,7,Zona fria
7,Getafe,37,14,10,13,41,33,8,52,8,Zona fria
8,Eibar,37,14,8,15,42,48,-6,50,9,Zona fria
9,Real Sociedad,37,14,7,16,66,58,8,49,10,Zona fria
10,Girona,37,13,9,15,48,58,-10,48,11,Zona fria
11,Alavés,37,15,2,20,40,49,-9,47,12,Zona fria
12,Celta,37,12,10,15,55,58,-3,46,13,Zona fria
13,Espanyol,37,11,13,13,35,42,-7,46,14,Zona fria
14,Levante,37,11,13,13,42,54,-12,46,15,Zona fria
15,Athletic,37,10,13,14,41,48,-7,43,16,Zona fria
16,Leganés,37,11,7,19,31,49,-18,40,17,Descenso
17,Deportivo,37,6,11,20,37,74,-37,29,18,Descenso
18,Las Palmas,37,5,7,25,23,72,-49,22,19,Descenso
19,Málaga,37,5,5,27,24,60,-36,20,20,Descenso